.container{
    display: flex;
    flex-direction: column;
    min-width: 17rem;
    justify-content: center;
    align-items: center;
}

.form-group{
    display: flex;
    flex-direction: column;
    min-width: 17rem;
    padding: .2rem;
}